<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
    <meta charset="UTF-8">
    <title>adminheader</title>
    <link rel="stylesheet" href="/static/css/admin_header.css">
</head>
<body>
    <header>
        <a href="#" id="logo">
            <img src="../images/admin_logo.jpg" alt="admin_logo"/>
        </a>
        <div class="home">
            <a href="#">HOME | </a>
            <a href="#">로그아웃 | </a>
            <a href="#">고객센터</a>
        </div>
    </header>
</body>
</html>