<main th:fragment="user">
        <div id="section2_main"  th:fragment="user">
            <div id="section2_title">회원목록</div>
            <div id="article_wrapper">
                <div id="article1">
                    <table id="prod_table">
                        <tr>
                            <th><input type="checkbox"></th>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>별명</th>
                            <th>이메일</th>
                            <th>휴대폰</th>
                            <th>등급</th>
                            <th>가입일</th>
                            <th>확인</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>a101</td>
                            <td>김유신</td>
                            <td>유신101</td>
                            <td>yusin101@naver.com</td>
                            <td>010-1234-1001</td>
                            <td>
                                <select name="grade">
                                    <option value="등급">2</option>
                                </select>
                            </td>
                            <td>2023-01-01 13:06:14</td>
                            <td><a href="#">[상세확인]</a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>a102</td>
                            <td>김춘추</td>
                            <td>춘추102</td>
                            <td>chunchu102@naver.com</td>
                            <td>010-1234-1002</td>
                            <td>
                                <select name="grade">
                                    <option value="등급">2</option>
                                </select>
                            </td>
                            <td>2023-01-01 13:06:14</td>
                            <td><a href="#">[상세확인]</a></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>a103</td>
                            <td>장보고</td>
                            <td>보고103</td>
                            <td>bogo103@naver.com</td>
                            <td>010-1234-1003</td>
                            <td>
                                <select name="grade">
                                    <option value="등급">2</option>
                                </select>
                            </td>
                            <td>2023-01-01 13:06:14</td>
                            <td><a href="#">[상세확인]</a></td>
                        </tr>
                    </table>
                </div>
                <div id="list_num">
                    <a><</a>
                    <a href="#">[1]</a>
                    <a href="#">[2]</a>
                    <a href="#">[3]</a>
                    <a href="#">[4]</a>
                    <a href="#">[5]</a>
                    <a>></a>
                </div>
            </div>
        </div>
    </div>
</main>
